body {
    font-family: Arial, Helvetica, sans-serif;
}

img#main-logo {
    width: 300px;
}

img#apps-icon {
    height: 32px;
    color: grey;
}

input[value="Sign In"] {
    color: white;
    background: #4285f4;
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
}

.search-bar {
    width: 564px;
    height: 44px;
    margin: 0px auto;
    position: relative;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-bar:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,1), 0 0 0 1px rgba(0,0,0,1);
}

.search-bar img#mic {
    width: 16px;
    height: 21px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.search-bar input[type=text] {
    height: 100%;
    width: 100%;
    padding: 0px 12px;
    border: none;
    box-sizing: border-box;
}

.search-bar input[type=text]:focus {
    outline: none;
}

.logo-container, h1, .btn-container {
    text-align: center
}

.upper-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.upper-navbar li {
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
    font-size: 13px;
}

.upper-navbar li a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

img#apps-icon {
    vertical-align: middle;
    opacity: 0.6;
    width: 25px;
    height: 25px;
}

img#apps-icon:hover {
    opacity: 1;
}

.upper-navbar-container {
    display: block;
    height: 100px;
}

input[type=submit] {
    border: none;
    padding: 10px 10px;
    font-weight: bold;
    color: #757575;
    border-radius: 3px;
    margin: 30px 2px;
    width: 135px;
    background: #f1f1f1;

}
